@{
    Layout = "Teacher_layout";
}

<div class="row" style="padding-top:50px">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Teacher Details</h5>
        <p class="card-text">Click below to fetch your Details</p>
        <a asp-controller="Teacher" asp-action="Index" class="btn btn-primary" style="text-align:center">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Result Page</h5>
        <p class="card-text">Update the Dec/Jan results!!! Click the below link</p>
        <a href="#" class="btn btn-primary" style="text-align:center">Update Result</a>
      </div>
    </div>
  </div>
</div>