@using Microsoft.AspNetCore.Http
@model StudentTesting.Models.Studenttbl
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "StudentLogin";
    Layout = "CommonLayout";

}
@{
    ViewBag.Password = @HttpContextAccessor.HttpContext.Session.GetString("LoginPassword");
}
<div class="row row d-flex aligns-items-center justify-content-center">
    <div class="col-md-4 card p-3 px-5 py-5 mt-3 bg-light">
        <form asp-action="SLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="card bg-light" style="margin-left:auto; margin-right:auto; margin-top:40px; width:100px;">*@
        <img src="~/images/logo-removebg-preview.png" class="img-fluid mx-auto d-block" style="width:100px;height:100px;border-radius:35%;"alt="image">
            <h4 style="text-align:center;color:black">Student Login</h4>
            <div class="form-group text-left">
                <label asp-for="StudentId" class="control-label" style="color:black;font-size:20px"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group text-left">
                <label asp-for="Password" class="control-label"style="color:black;font-size:20px"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <p></p>
            @if(ViewBag.Password != null)
            {
                <strong style="color:brown">Password Invalid</strong>
            }
            <div class="form-group text-center" style="text-align:center">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p></p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
