@model StudentTesting.Models.Teachertbl
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "TeacherLogin";
    Layout = "CommonLayout";
}

@{
    ViewBag.Password = @HttpContextAccessor.HttpContext.Session.GetString("LoginPassword");
}

<div class="row row d-flex aligns-items-center justify-content-center">
    <div class="col-md-4 card p-3 px-5 py-5 mt-3 bg-light">
        <form asp-action="TLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <img src="~/images/logo-removebg-preview.png" class="img-fluid mx-auto d-block" style="width:100px;height:100px;border-radius:35%;"alt="image">
            <h4 style="text-align:center;color:black">Teacher Login</h4>
            <p></p>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label" style="color:black;font-size:20px"></label>
                <input asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="Password" class="control-label" style="color:black;font-size:20px"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <p></p>

             @if(ViewBag.Password != null)
            {
                <strong style="color:brown">Password Invalid</strong>
            }
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
