
<div class="row" style="padding-top:50px;text-align:center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Student Details</h5>
        <p class="card-text">Click below to fetch your Details</p>
        <a asp-controller="Student" asp-action="Index" class="btn btn-primary" style="text-align:center">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Result Page</h5>
        <p class="card-text"> Dec/Jan results out!!! Click the below link</p>
        <a asp-controller="Marks" asp-action="Index" class="btn btn-primary" style="text-align:center">GetResult</a>
      </div>
    </div>
  </div>
</div>